{% extends "nasa.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title has-text-centered">My Saved Collection</h1>
        <br>
        
        <div class="columns is-multiline">
            
            {% for pic in favs %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{ pic.url }}" alt="Saved Photo">
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-5">{{ pic.title }}</p>
                            <p class="subtitle is-6">{{ pic.date }}</p>
                            
                            <form action="{{ url_for('delete_photos', id=pic.id) }}" method="POST">
                                <button type="submit" class="button is-danger is-small is-outlined">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
</section>
{% endblock %}